@{
    ViewBag.Title = "Verifique o seu E-mail";
}

<br />
<h2>@ViewBag.Title.</h2>

<p class="text-info">
    Por favor, verifique seu e-mail para concluir o seu cadastro.
</p>
<p>
    Enviamos um e-mail com as instruções para que você possa concluir o seu cadastro. Verifique a sua caixa de entrada. Caso não esteja na caixa de entrada verifique também a caixa de span.
</p>

