@{
    ViewBag.Title = "Confirmação de redefinição de senha";
}

<br />
<hgroup class="title">
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div>
    <p>
        Por favor, verifique seu e-mail para trocar sua senha.
    </p>
    <p>
        Enviamos um e-mail com as instruções para que você possa alterar a senha. Verifique a sua caixa de entrada. Caso não esteja na caixa de entrada verifique também a caixa de span.
    </p>
</div>

