@using MvcFileUploader.HtmlHelper
@using MvcFileUploader.Models
@{
    ViewBag.Title = "Upload de Imagens";
    var showingInline = Model != null && Model == true;     
}

    <div class="well">
        <h3>Upload Inline</h3>
        <p class="help-block">Arquivos do tipo JPG ou PNG e com tamanho máximo de 2 MB</p>
        <p>@Html.ActionLink("Galeria de Imagens", "Index", "AdminImageGallery", new { id = ViewBag.ViewDataId }, new { @class = "btn btn-info" })</p>
        @(
        Html.MvcFileUpload()
        .UploadAt(Url.Action("AdminUploadFile", new { id = ViewBag.ViewDataId }))
        .UIStyle(0)
        .WithFileTypes(@"/(\.|\/)(jpe?g|png)$/i")
        .WithMaxFileSize(2000000)
        .AddFormField("entityId", "1")
        .RenderInline("_MvcFileupload")
        )
       
    </div>
    
   