@model List<Ishopping.MVC.ViewModels.User.UserImageGalleryViewModel>
@{
    ViewBag.Title = "Imagens Serviços";
    Layout = "~/Views/Shared/_LayoutImage.cshtml";
}

<input type="hidden" id="data" data-imgtype="Serviços" data-imgsearch="ServiceSearchShare" data-imgcontroller="GetImgService" />

@Html.Partial("_ImageGalleryPartial", new ViewDataDictionary(this.ViewData) { { "fileType", "11" } })

<div class="row">
    @foreach (var item in Model)
    {
        @Html.Partial("_PortfolioPartialT2I4", item)
    }
</div>

@section scripts{
    <script src="~/Scripts/Ishopping/ImageGallery/ImageGalleryT2.min.js"></script>
}





