@model List<Ishopping.MVC.ViewModels.User.UserImageGalleryViewModel>
@{
    ViewBag.Title = "Imagens Cartão de Visita";
    Layout = "~/Views/Shared/_LayoutImage.cshtml";
}

<input type="hidden" id="data" data-imgtype="Cartão de Visita" data-imgsearch="CardSearchShare" data-imgcontroller="GetImgCard" />

@Html.Partial("_ImageGalleryPartial", new ViewDataDictionary(this.ViewData) { { "fileType", "12" } })

<div class="row">
    @foreach (var item in Model)
    {
        @Html.Partial("_PortfolioPartialT2I3", item)
    }
</div>

@section scripts{
    <script src="~/Scripts/Ishopping/ImageGallery/ImageGalleryT2.min.js"></script>
}








