
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Adicionar Google Fonts</a>
        </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="panel-group" id="accordion5">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-3">
                                <h4 class="color1">URL da fonte:</h4>
                            </div>
                        </div>
                        <input class="form-control texto" type="text" name="googleFont" id="ggf" value="@ViewBag.GoogleFonts" placeholder="https://fonts.googleapis.com/css?family=Oxygen" />
                        <small>&nbsp;&nbsp;&nbsp;Escolha uma fonte no site <a href="https://fonts.google.com/" target="_blank">google fonts</a>, copie o link como acima. Em Font-family digite o nome da fonte.</small>
                    </div>
                </div>
                <ul>                    
                    <li><small>As fontes escolhidas são validas para todas as classes</small></li>
                    <li><small>Em caso de alteração da fonte todas as classes serão afetadas</small></li>
                    <li><small>Se não estiver usando a fonte então remova para uma melhor performance</small></li>
                </ul>
            </div>
        </div>
    </div>
</div>