
<div class="btn-group btn-group-xs" style="margin:4px" role="group" aria-label="...">
    <button type="button" class="btn btn-default tag" name="isspan">span</button>    
    <button type="button" class="btn btn-default tag" name="isb"><b>N</b></button>
    <button type="button" class="btn btn-default tag" name="isi"><i>I</i></button>    
    <button type="button" class="btn btn-default tag" name="isu"><u>S</u></button>
    <button type="button" class="btn btn-default tag" name="isdel"><del>R</del></button>
    <button type="button" class="btn btn-default tag" name="isbr">br</button>
</div>

