@model Ishopping.MVC.ViewModels.User.UserImageGalleryViewModel

<div class="col-sm-4 col-md-3">
    <div class="thumbnail" style="margin-bottom:20px;padding-bottom:10px">
        <img src="~/Content/uploads/@Model.Folder/@Model.FileName" alt="" style="width:100%">
        <div class="caption">
            <span>@Model.FileName</span>
            <button type="button" class="btn btn-danger btn-sm pull-right" name="getDelete" value="@Model.Id">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Deletar
            </button>
        </div>
    </div>
</div>