@{
    ViewBag.Title = "Contato";
}
<br />
<h2>@ViewBag.Title.</h2>
<p>Para suporte, esclarecimento de dúvidas, reportar algum erro no site ou denunciar alguma página, envie um e-mail para nossa equipe: </p>
<p>Para reportar algum erro a nossa equipe por favor copie o link da página onde ocorreu o erro.</p>
<p>Para fazer alguma denúncia sobre alguma página que contenha conteúdo impróprio por favor copie o número do site ou o link da página.</p>
<address>
    <strong>Support:</strong> <a href="@ViewBag.SupportEmail">@ViewBag.SupportEmail</a><br />
</address>

