@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <!-- Title -->
    <title>O que é Marketing Digital e como usá-lo para expandir o seu negócio</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Meta Tags For SEO -->
    <meta name="description" content="Saiba como o Marketing Digital pode ajudar você a divulgar o seu negócio e os seus produtos para milhares de pessoas com um custo baixo ou gratuitamente." />
    <meta name="robots" content="index, follow">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/Componentes/Premium/Unify/favicon.ico">

    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Slab%3A400%2C300%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/Componentes/Premium/Unify/assets/vendor/bootstrap/bootstrap.min.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/Content/jquery-ui.min.css" />
    <link rel="stylesheet" href="/Componentes/Premium/Unify/assets/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Componentes/Premium/Unify/assets/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="/Componentes/Premium/Unify/assets/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="/Componentes/Premium/Unify/assets/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/dzsparallaxer.css">
    <link rel="stylesheet" href="/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/dzsscroller/scroller.css">
    <link rel="stylesheet" href="/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/advancedscroller/plugin.css">
    <link rel="stylesheet" href="/Componentes/Premium/Unify/assets/vendor/animate.css">
    <link rel="stylesheet" href="/Componentes/Premium/Unify/assets/vendor/hs-megamenu/src/hs.megamenu.css">
    <link rel="stylesheet" href="/Componentes/Premium/Unify/assets/vendor/hamburgers/hamburgers.min.css">
    <link rel="stylesheet" href="/Componentes/Premium/Unify/assets/vendor/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/Componentes/Premium/Unify/assets/vendor/fancybox/jquery.fancybox.css">

    <!-- CSS Unify Theme -->
    <link rel="stylesheet" href="/Componentes/Premium/Unify/blog/assets/css/styles.bm-classic.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/Componentes/Premium/Unify/assets/css/custom.css">

</head>

<body>
    <main>
        <!-- Header -->
        <header id="js-header" class="u-header u-header--static--lg u-header--show-hide--lg u-header--change-appearance--lg" data-header-fix-moment="500" data-header-fix-effect="slide">
            <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-bg-white g-py-10" data-header-fix-moment-classes="g-bg-white-opacity-0_7 u-shadow-v18 g-py-0">
                <nav class="js-mega-menu navbar navbar-expand-lg">
                    <div class="container">
                        <!-- Responsive Toggle Button -->
                        <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->
                        <!-- Logo -->
                        <a href="/" class="navbar-brand">
                            <img src="../../Componentes/Premium/Unify/assets/img/logo/logo-1.png" alt="Image Description">
                        </a>
                        <!-- End Logo -->
                        <!-- Navigation -->
                        <div class="collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg" id="navBar">
                            <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                                <li class="nav-item g-mx-10--lg">
                                    <a href="/" class="nav-link px-0">Home</a>
                                </li>
                                <li class="nav-item g-mx-10--lg">
                                    <a href="/" class="nav-link px-0">Pesquisar</a>
                                </li>
                                <li class="nav-item g-mx-10--lg">
                                    <a href="/AppView/Blog" class="nav-link px-0">Blog</a>
                                </li>
                                <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                                    <li class="nav-item g-mx-10--lg"><a class="nav-link px-0" href="/Profiles" id="registerLink">Minha Conta</a></li>
                                    <li class="nav-item g-mx-10--lg"><a class="nav-link px-0" href="/Account/Login" id="loginLink">Entrar</a></li>
                                </ul>


                            </ul>
                        </div>
                        <!-- End Navigation -->
                    </div>
                </nav>
            </div>
        </header>
        <!-- End Header -->
        <!-- Page Title -->
        <section class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
            <!-- Parallax Image -->
            <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-white-gradient-opacity-v3--after" style="height: 140%; background-image: url(../../Images/Ishopping/ishoopping10.jpg);"></div>
            <!-- End Parallax Image -->
            <div class="container text-center g-py-50--md g-py-40">
                <!-- Search Form -->
                <form class="g-width-60x--md mx-auto" action="/AppView/Blog" method="get">
                    <div class="form-group g-mb-20">
                        <div class="input-group u-shadow-v21 rounded g-mb-15">
                            <input class="form-control form-control-md g-brd-white g-font-size-16 border-right-0 pr-0 g-py-15" type="text" name="txtTexto" id="txtTexto" placeholder="Where can I download some freebies?">
                            <div class="input-group-addon d-flex align-items-center g-bg-white g-brd-white g-color-gray-light-v1 g-pa-2">
                                <button class="btn u-btn-primary g-font-size-16 g-py-15 g-px-20" type="submit">
                                    <i class="icon-magnifier g-pos-rel g-top-1"></i>
                                </button>
                            </div>
                        </div>
                        <small class="form-text g-opacity-0_8 g-font-size-default">Digite alguma palavra para pesquisar</small>
                    </div>
                </form>
                <!-- End Search Form -->
            </div>
        </section>
        <!-- Page Title -->
        <!-- News Content -->
        <section class="g-pt-70 g-pb-100">
            <div class="container">
                <div class="row">
                    <!-- Articles Content -->
                    <div class="col-lg-9 g-mb-50 g-mb-0--lg">


                        <article class="g-mb-60">
                            <header class="g-mb-30">
                                <h1 class="h1 g-mb-15">O que é Marketing Digital</h1>

                                <ul class="list-inline d-sm-flex g-color-gray-dark-v4 mb-0">
                                    <li class="list-inline-item">
                                        <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="/AppView/Blog?siteNumber=979178041">Raphael Andrade</a>
                                    </li>
                                    <li class="list-inline-item g-mx-10">/</li>
                                    <li class="list-inline-item">
                                        05/12/2017
                                    </li>
                                    <li class="list-inline-item ml-auto">
                                        <i class="icon-eye u-line-icon-pro align-middle mr-1"></i> 12
                                    </li>
                                </ul>

                                <hr class="g-brd-gray-light-v4 g-my-15">

                                <ul class="list-inline text-uppercase mb-0">
                                    <li class="list-inline-item g-mr-10">
                                        <div class="blog-sidebar fb-share-button" data-href="https://www.ishoopping.com.br/AppView/SinglePost/aaef070d-76d9-e711-a875-001a3f4de387" data-layout="button" data-size="large" data-mobile-iframe="true"></div>
                                    </li>
                                    <li class="list-inline-item g-mr-10">
                                    </li>
                                </ul>
                            </header>

                            <div class="g-font-size-16 g-line-height-1_8 g-mb-30">

                                <figure class="u-shadow-v25 g-mb-30">
                                    <img class="img-fluid w-100" src="/Content/uploads/979178041/1279218055.jpg" alt="ishoopping post">
                                </figure>
                                <div class="mx-auto g-my-15">
                                    <h2 class="g-color-primary">O que é Marketing Digital e como usá-lo para expandir o seu negócio</h2>
                                </div>
                                <p class="g-color-gray-dark-v2 g-mb-40">
                                    &emsp;Marketing quer dizer propaganda, e digital refere-se aos meios de comunicação que essa propaganda utiliza, em outras palavras Marketing Digital quer dizer propaganda pela internet usando celulares, computadores, vídeos, redes sociais e etc., ou seja propaganda usando os meios digitais.<br /><br />
                                    &emsp;As vantagens do Marketing Digital são muitas, uma das principais é o custo. Antigamente apenas grandes empresas tinham o privilégio de fazer propagandas e expor o seu negócio para um grande público, hoje qualquer pessoa pode criar um vídeo, um site, ou até mesmo usar as redes sociais para divulgar os seus serviços e produtos e tudo isso com baixo ou nenhum custo.<br /><br />
                                    &emsp;Podemos destacar também a comunicação em tempo real com o cliente através de e-mails, aplicativos de mensagens instantânea e muito mais. Outra grande vantagem do Marketing Digital é o grande número de público que esse tipo de propaganda pode atingir, por exemplo um vídeo simples no YouTube pode ser visto facilmente por 500 mil pessoas, não somente da sua região mas de todo o mundo.<br /><br />
                                    &emsp;Hoje em dia com a era digital você tem várias maneiras de criar a sua propaganda e expor o seu negócio para milhares de pessoas, e como você sabe quanto mais propaganda maior é o seu público alvo e melhores chances você tem de fazer a sua empresa crescer.<br /><br />
                                    &emsp;Esse foi apenas um pequeno resumo sobre o que é e quais as vantagens de usar o Marketing Digital nos dias de hoje. Para maiores detalhes sugerimos que pesquise por vídeos e tutoriais na web sobre especialistas no assunto.
                                </p>

                                <figure class="u-shadow-v25 g-mb-30">
                                    <img class="img-fluid w-100" src="/Content/uploads/979178041/1279484976.jpg" alt="ishoopping post 2">
                                </figure>
                                <div class="mx-auto g-my-15">
                                    <h2 class="g-color-primary">Como por a sua empresa no mundo do Marketing Digital</h2>
                                </div>
                                <p class="g-color-gray-dark-v2 g-mb-40">
                                    &emsp;Para pôr a sua empresa no mundo do Marketing Digital você pode escolher entre vários meios ou melhor escolher todos eles. Um deles seria você criar um site na web veja aqui uma introdução de como criar um site na web. Outro caminho é por vídeos no youtube divulgando o seu canal, crie vídeos que chame a atenção do público e inclua o marketing indireto em seus vídeos. Outro meio são as redes sociais como Facebook, Instagram, Twitter, Pinterest e muitas outras. Cada uma delas tem as suas vantagens e desvantagens então o ideal é que você aproveite as vantagens de cada uma delas.
                                </p>

                                <div class="mx-auto g-my-15">
                                    <h2 class="g-color-primary">Vejamos as vantagens e desvantagens de cada uma delas.</h2>
                                </div>
                                <p class="g-color-gray-dark-v2 g-mb-40">
                                    &emsp;Primeiro temos a criação de um site na web, a grande vantagem disso é que você vai ter um ambiente personalizado e seu com as cores e logotipo da sua empresa. Uma desvantagem é o custo que pode variar entre cerca de R$ 20,00 a R$ 40,00 por mês para um site simples.<br /><br />
                                    &emsp;O segundo meio seria pelo youtube através da criação de um vídeo. Uma das vantagens é que ele grátis e você pode pôr quantos vídeos quiser, além de criar o seu próprio canal e ainda monetizar os seu videos e ganhar dinheiro com eles. A desvantagem é que se o seu vídeo não for bem atrativo não vai render bons resultados e terá poucas visualizações, também existem algumas técnicas fundamentais que é preciso para criar um bom vídeo como uma câmera de boa qualidade, microfone e um ambiente agradável para as filmagens, além disso nem todos tem coragem de se expor e publicar um vídeo no youtube.<br /><br />
                                    &emsp;O terceiro seria as redes sociais. As redes sociais são as mais comuns para quem não quer gastar com propaganda, além de ser gratuita ela pode conseguir um bom público alvo já que existem mais de 2 bilhões de pessoas hoje conectadas e usando as redes sociais. Uma das desvantagens é que elas não foram feitas para isso, com as redes sociais você tem pouca ou quase nenhuma opção de personalização da sua página, ou seja, é o mesmo ambiente e os mesmos layouts e opções para todos. Vale lembrar também que nem sempre as redes sociais são de graça, dependendo do tipo do anúncio e das visualizações pode ser que você tenha que pagar pelo seu uso.<br /><br />
                                    &emsp;O bom seria aproveitar as vantagens de cada uma delas, nós costumamos dizer que as redes sociais servem para levar o cliente até o seu site e sua página, e na sua página personalizada você expor melhor e com mais detalhes o seus produtos ou serviços. Use links tanto no Youtube quanto nas demais redes sociais para direcionar os clientes para seu site.
                                </p>
                            </div>

                            <ul class="list-inline d-sm-flex g-color-gray-dark-v4 mb-0">
                                <li class="list-inline-item">
                                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="/AppView/Blog?category=Tecnologia"> Mais sobre: Tecnologia</a>
                                </li>
                                <li class="list-inline-item g-mx-10">/</li>
                                <li class="list-inline-item">
                                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="/AppView/Blog?siteNumber=979178041"> Raphael Andrade</a>
                                </li>
                            </ul>

                            <hr class="g-brd-gray-light-v4">

                            <!-- Social Shares -->
                            <div class="g-mb-30">
                                <ul class="list-inline text-uppercase mb-0">
                                    <li class="list-inline-item g-mr-10">
                                        <div class="blog-sidebar fb-share-button" data-href="https://www.ishoopping.com.br/AppView/SinglePost/aaef070d-76d9-e711-a875-001a3f4de387" data-layout="button" data-size="large" data-mobile-iframe="true"></div>
                                    </li>
                                    <li class="list-inline-item g-mr-10">
                                    </li>
                                </ul>
                            </div>
                            <!-- End Social Shares -->

                            <hr class="g-brd-gray-light-v4 g-mb-40">

                        </article>





                        <div id="stickyblock-end"></div>
                    </div>
                    <!-- End Articles Content -->
                    <!-- Sidebar -->


                    <div class="col-lg-3">
                        <!-- Useful Links -->
                        <div class="g-mb-50">
                            <div class="u-heading-v3-1 g-mb-30">
                                <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Categorias</h2>
                            </div>

                            <ul class="list-unstyled">
                                <li class="g-brd-bottom g-brd-gray-light-v4 g-pb-10 g-mb-12">
                                    <h4 class="h6">
                                        <i class="fa fa-angle-right g-color-gray-dark-v5 g-mr-5"></i>
                                        <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/AppView/Blog?category=Tecnologia">Tecnologia</a>
                                    </h4>
                                </li>
                            </ul>
                        </div>
                        <!-- End Useful Links -->
                        <!-- Recent Posts -->
                        <div class="g-mb-30">
                            <div class="u-heading-v3-1 g-mb-30">
                                <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">Recentes Posts</h2>
                            </div>

                            <!-- Article -->
                            <article class="media g-mb-30">
                                <a class="d-flex u-shadow-v25 mr-3" href="/AppView/SinglePost/aaef070d-76d9-e711-a875-001a3f4de387">
                                    <img class="g-width-60 g-height-60" src="/Content/uploads/979178041/1279218055.jpg" alt="Image Ishoopping">
                                </a>
                                <div class="media-body">
                                    <h3 class="h6">
                                        <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" Href="/Appview/Singlepost/Aaef070d-76D9-E711-A875-001A3f4de387">O que &#233; Marketing Digital</a>
                                    </h3>
                                </div>
                            </article>
                            <!-- End Article -->
                            <!-- Article -->
                            <article class="media g-mb-30">
                                <a class="d-flex u-shadow-v25 mr-3" href="/AppView/SinglePost/055f46f2-a2d9-e711-a875-001a3f4de387">
                                    <img class="g-width-60 g-height-60" src="/Content/uploads/979178041/1729720783.jpg" alt="Image Ishoopping">
                                </a>
                                <div class="media-body">
                                    <h3 class="h6">
                                        <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/AppView/SinglePost/055f46f2-a2d9-e711-a875-001a3f4de387">Como criar um site na internet </a>
                                    </h3>
                                </div>
                            </article>
                            <!-- End Article -->
                            <!-- Article -->
                            <article class="media g-mb-30">
                                <a class="d-flex u-shadow-v25 mr-3" href="/AppView/SinglePost/8cc96a3e-2bd7-e711-a874-001a3f4de387">
                                    <img class="g-width-60 g-height-60" src="/Content/uploads/979178041/1039036838.jpg" alt="Image Ishoopping">
                                </a>
                                <div class="media-body">
                                    <h3 class="h6">
                                        <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/AppView/SinglePost/8cc96a3e-2bd7-e711-a874-001a3f4de387">O que &#233; Lorem Ipsum</a>
                                    </h3>
                                </div>
                            </article>
                            <!-- End Article -->
                            <!-- Article -->
                            <article class="media g-mb-30">
                                <a class="d-flex u-shadow-v25 mr-3" href="/AppView/SinglePost/3c66ae04-80d9-e711-a875-001a3f4de387">
                                    <img class="g-width-60 g-height-60" src="/Content/uploads/979178041/1161230642.jpg" alt="Image Ishoopping">
                                </a>
                                <div class="media-body">
                                    <h3 class="h6">
                                        <a class="u-link-v5 g-color-gray-dark-v1 g-color-primary--hover" href="/AppView/SinglePost/3c66ae04-80d9-e711-a875-001a3f4de387">Marketing Direto e Marketing Indireto o que &#233; e com ...</a>
                                    </h3>
                                </div>
                            </article>
                            <!-- End Article -->
                        </div>
                        <!-- End Recent Posts -->

                        <div id="stickyblock-start" class="js-sticky-block g-sticky-block--lg g-pt-20" data-start-point="#stickyblock-start" data-end-point="#stickyblock-end">
                            <!-- News Feed -->
                            <div class="g-mb-40">
                                <div class="u-heading-v3-1 g-mb-30">
                                    <h2 class="h5 u-heading-v3__title g-color-gray-dark-v1 text-uppercase g-brd-primary">News Feed</h2>
                                </div>

                                <!-- Article -->
                                <article>
                                    <span class="g-font-size-12">
                                        <a class="u-link-v5 g-color-gray-dark-v4" href="#!">Jonathan Owen</a>
                                    </span>
                                    <h3 class="h6">
                                        <a class="g-color-gray-dark-v1" href="#!">Architects plan to stop skyscrapers from blocking out sunlight</a>
                                    </h3>
                                </article>
                                <!-- End Article -->

                                <hr class="g-brd-gray-light-v4 g-mt-15 g-mb-10">

                                <!-- Article -->
                                <article>
                                    <span class="g-font-size-12">
                                        <a class="u-link-v5 g-color-gray-dark-v4" href="#!">James Doe</a>
                                    </span>
                                    <h3 class="h6">
                                        <a class="g-color-gray-dark-v1" href="#!">Cooltex is one of the best technology company of our age and future</a>
                                    </h3>
                                </article>
                                <!-- End Article -->

                                <hr class="g-brd-gray-light-v4 g-mt-15 g-mb-10">

                                <!-- Article -->
                                <article>
                                    <span class="g-font-size-12">
                                        <a class="u-link-v5 g-color-gray-dark-v4" href="#!">Albert Coolmen</a>
                                    </span>
                                    <h3 class="h6">
                                        <a class="g-color-gray-dark-v1" href="#!">Some text goes here with plain English and much more other texts go there..</a>
                                    </h3>
                                </article>
                                <!-- End Article -->
                            </div>
                            <!-- End News Feed -->
                        </div>
                    </div>

                    <!-- End Sidebar -->
                </div>
            </div>
        </section>
        <!-- End News Content -->
        <!-- Footer -->
        <div id="contacts-section" class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
            <div class="container">
                <div class="row">
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">About Us</h2>
                        </div>
                        <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Latest Posts</h2>
                        </div>
                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Incredible template</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">May 8, 2017</div>
                        </article>
                        <hr class="g-brd-white-opacity-0_1 g-my-10">
                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">New features</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">June 23, 2017</div>
                        </article>
                        <hr class="g-brd-white-opacity-0_1 g-my-10">
                        <article>
                            <h3 class="h6 g-mb-2">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">New terms and conditions</a>
                            </h3>
                            <div class="small g-color-white-opacity-0_6">September 15, 2017</div>
                        </article>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Useful Links</h2>
                        </div>
                        <nav class="text-uppercase1">
                            <ul class="list-unstyled g-mt-minus-10 mb-0">
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">About Us</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Portfolio</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Our Services</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Latest Jobs</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Contact Us</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End Footer Content -->
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Our Contacts</h2>
                        </div>
                        <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url(../../Componentes/Premium/Unify/assets/img/maps/map2.png);">
                            <!-- Location -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-map-marker"></i>
                                    </span>
                                </div>
                                <p class="mb-0">795 Folsom Ave, Suite 600, <br> San Francisco, CA 94107 795</p>
                            </div>
                            <!-- End Location -->
                            <!-- Phone -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                </div>
                                <p class="mb-0">(+123) 456 7890 <br> (+123) 456 7891</p>
                            </div>
                            <!-- End Phone -->
                            <!-- Email and Website -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                </div>
                                <p class="mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:info@htmlstream.com">info@htmlstream.com</a>
                                    <br>
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">www.htmlstream.com</a>
                                </p>
                            </div>
                            <!-- End Email and Website -->
                        </address>
                    </div>
                    <!-- End Footer Content -->
                </div>
            </div>
        </div>
        <!-- End Footer -->
        <!-- Copyright Footer -->
        <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
                        <div class="d-lg-flex">
                            <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">2017 © All Rights Reserved.</small>
                            <ul class="u-list-inline">
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Privacy Policy</a>
                                </li>
                                <li class="list-inline-item">
                                    <span>|</span>
                                </li>
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Terms of Use</a>
                                </li>
                                <li class="list-inline-item">
                                    <span>|</span>
                                </li>
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">License</a>
                                </li>
                                <li class="list-inline-item">
                                    <span>|</span>
                                </li>
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Support</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 align-self-center">
                        <ul class="list-inline text-center text-md-right mb-0">
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Skype">
                                <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Linkedin">
                                <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Pinterest">
                                <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="Dribbble">
                                <a href="#!" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Copyright Footer -->

        <a class="js-go-to u-go-to-v1" href="#!" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>

    </main>

    <div class="u-outer-spaces-helper"></div>

    <!-- JS Global Compulsory -->
    <script src="/Componentes/Premium/Unify/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/Scripts/jquery-ui.min.js"></script>
    <script src="/Componentes/Premium/Unify/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/Componentes/Premium/Unify/assets/vendor/popper.min.js"></script>
    <script src="/Componentes/Premium/Unify/assets/vendor/bootstrap/bootstrap.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="/Componentes/Premium/Unify/assets/vendor/appear.js"></script>
    <script src="/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/dzsparallaxer.js"></script>
    <script src="/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/dzsscroller/scroller.js"></script>
    <script src="/Componentes/Premium/Unify/assets/vendor/dzsparallaxer/advancedscroller/plugin.js"></script>
    <script src="/Componentes/Premium/Unify/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
    <script src="/Componentes/Premium/Unify/assets/vendor/slick-carousel/slick/slick.js"></script>
    <script src="/Componentes/Premium/Unify/assets/vendor/fancybox/jquery.fancybox.min.js"></script>

    <!-- JS Unify -->
    <script src="/Componentes/Premium/Unify/assets/js/hs.core.js"></script>
    <script src="/Componentes/Premium/Unify/assets/js/components/hs.header.js"></script>
    <script src="/Componentes/Premium/Unify/assets/js/helpers/hs.hamburgers.js"></script>
    <script src="/Componentes/Premium/Unify/assets/js/components/hs.dropdown.js"></script>
    <script src="/Componentes/Premium/Unify/assets/js/components/hs.counter.js"></script>
    <script src="/Componentes/Premium/Unify/assets/js/components/hs.onscroll-animation.js"></script>
    <script src="/Componentes/Premium/Unify/assets/js/components/hs.sticky-block.js"></script>
    <script src="/Componentes/Premium/Unify/assets/js/components/hs.carousel.js"></script>
    <script src="/Componentes/Premium/Unify/assets/js/components/hs.popup.js"></script>
    <script src="/Componentes/Premium/Unify/assets/js/components/hs.go-to.js"></script>

    <!-- JS Customization -->
    <script src="/Componentes/Premium/Unify/assets/js/custom.js"></script>

    <!-- JS Ishoopping -->
    <script src="/Scripts/Ishopping/Ishopping/SearchPost.js"></script>
    <script src="/Scripts/Ishopping/Facebook.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        $(document).on('ready', function () {
            // initialization of header
            $.HSCore.components.HSHeader.init($('#js-header'));
            $.HSCore.helpers.HSHamburgers.init('.hamburger');

            // initialization of MegaMenu
            $('.js-mega-menu').HSMegaMenu();

            // initialization of HSDropdown component
            $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
                afterOpen: function () {
                    $(this).find('input[type="search"]').focus();
                }
            });

            // initialization of scroll animation
            $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

            // initialization of go to
            $.HSCore.components.HSGoTo.init('.js-go-to');

            // initialization of counters
            var counters = $.HSCore.components.HSCounter.init('[class*="js-counter"]');

            // initialization of carousel
            $.HSCore.components.HSCarousel.init('[class*="js-carousel"]');

            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox');
        });

        $(window).on('load', function () {
            // initialization of sticky blocks
            $.HSCore.components.HSStickyBlock.init('.js-sticky-block');
        });
    </script>
</body>
</html>