@{
    ViewBag.Title = "Tutorial IShoopping";
    Layout = "~/Views/Shared/_LayoutC.cshtml";
}

@section styles{
    <link href="~/Content/Ishopping/simple-sidebar.css" rel="stylesheet" />
}

<div class="container-fluid" style="margin-left:16px;margin-right:20px">
    
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-2">
            <nav class="navbar navbar-default navbar-fixed-side">

                <div class="navbar-header">
                    <button class="navbar-toggle" data-target=".xks" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <a class="navbar-brand" href="#">IShoopping Tutorial</a>
                </div>
                <div class="container">
                    <div class="collapse navbar-collapse xks">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#Ishopping"><span>O que é o IShoopping</span></a>
                            </li>
                            <li>
                                <a href="#Marketing"><span>O que é o Marketing Digital</span></a>
                            </li>
                            <li>
                                <a href="#HowToUse"><span>Como usar o IShoopping</span></a>
                            </li>
                            <li>
                                <a href="#Profile"><span>Criando um Profile</span></a>
                            </li>
                            <li>
                                <a href="#Component"><span>O que são Componentes</span></a>
                            </li>
                            <li>
                                <a href="#Content"><span>O que são Conteúdos</span></a>
                            </li>
                            <li>
                                <a href="#ImageGallery"><span>Galeria de Imagens</span></a>
                            </li>
                            <li>
                                <a href="#Config"><span>Configurações</span></a>
                            </li>
                            <li>
                                <a href="#Blog"><span>O que é um Blog</span></a>
                            </li>
                            <li>
                                <a href="#Template"><span>Trocando de Template</span></a>
                            </li>
                            <li>
                                <a href="#Payment"><span>Efetuando um Pagamento</span></a>
                            </li>                           
                            <li>
                                <a href="#Links"><span>Sites Úteis</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>        
        <div class="col-sm-9 col-md-9 col-lg-8 txt-default">
            <section id="Ishopping">
                <h1>O que é o IShoopping</h1>
                <p>O IShoopping é uma plataforma que permite a você trazer a sua empresa para o mundo do Marketing Digital de uma maneira simples e fácil, sem a necessidade de um domínio ou mecanismos de buscas. O IShoopping foi feito para ser usado por qualquer pessoa mesmo aquelas que não tenham qualquer conhecimento de informática. Os templates são responsivos e se adapta tanto em computadores como dispositivos mobile e já vem pré-definidos bastando apenas adicionar ou alterar os textos e as imagens.</p>
                <p>O IShoopping usa templates assim como uma página na internet, possui o seu próprio mecanismo de buscas e exibe o perfil do usuário na página principal mas é diferente de um criador de sites.</p>
            </section>
                        
            <section id="Marketing">
                <h2>O que é Marketing Digital </h2>
                <p>Marketing quer dizer propaganda, e digital refere-se aos meios de comunicação que essa propaganda utiliza, em outras palavras Marketing Digital quer dizer propaganda pela internet usando celulares, computadores, vídeos, redes sociais e etc., ou seja propaganda usando os meios digitais.</p>
                <p>As vantagens do Marketing Digital são muitas, uma das principais é o custo, antigamente apenas grandes empresas tinham o privilégio de fazer propagandas e expor o seu negócio para um grande público, hoje qualquer pessoa pode criar um vídeo, um site, ou até mesmo usar as redes sociais para divulgar os seus serviços e produtos e tudo isso com baixo ou nenhum custo. Podemos destacar também a comunicação em tempo real com o cliente através de e-mails, aplicativos de mensagens instantânea e muito mais. Outra grande vantagem do Marketing Digital é o grande número de publico que esse tipo de propaganda pode atingir, por exemplo um vídeo simples no YouTube pode ser visto facilmente por 500 mil pessoas, não somente da sua região mas de todo o mundo.</p>
                <p>Hoje em dia com a era digital você tem varias maneiras de criar a sua propaganda e expor o seu negocio para milhares de pessoas, e como você sabe quanto mais propaganda maior é o seu público alvo e melhores chances você tem de fazer a sua empresa crescer. Esse foi apenas um pequeno resumo sobre o que é e quais as vantagens de usar o Marketing Digital nos dias de hoje. Para maiores detalhes sugerimos que pesquise por vídeos e tutoriais na web sobre especialistas no assunto.</p>
                <hr />
            </section>

            <section id="HowToUse">
                <h2>Como usar o IShoopping</h2>
                <p>Esse pequeno tutorial abaixo explica como o IShoopping funciona e como é fácil para você criar o seu profile ou a sua página no site. O IShoopping é grátis para teste e você pode criar a sua página sem nenhum custo, no final se você gostar do resultado poderá escolher se deseja permanecer no site e exibir a sua página para o público. Recomendamos que você use um computador ou notebook para criar a sua página, assim você vai saber como fica o resultado tanto em telas grandes como em telas pequenas usada por dispositivos móbile.</p>
            </section>

            <section id="Profile">
                <h2>Criando um profile</h2>
                <p>Para criar um profile primeiro é preciso que você escolha um template. Template é o modelo da página, cada template possui as suas próprias características. Para escolher um template primeiro será preciso escolher um grupo, um grupo possui um conjunto de templates. Um template pode possuir varias páginas (views) então após escolher o grupo e o template você precisa escolher a página inicial. É possível trocar o template ou a página inicial futuramente, para maiores detalhes vá até Trocando de Template.</p>
                <p>Preencha cada campo do formulário como se pede, no campo telefone utilize apenas números, isso vai facilitar para que outros usuários possam encontrar o seu profile através das buscas.</p>
                <p>Alguns campos são obrigatórios outros são opcionais, mas é importante que você preencha todos eles para que a sua página e a busca pela sua página se tornem mais completa.</p>
                <h3>Número do site</h3>
                <p>O campo número do site e a identidade do seu profile e é único, cada profile possui o seu número. Escolha bem o número do site pois depois que você criar o seu profile ele não poderá ser alterado.</p>
                <h3>Nome do site</h3>
                <p>O campo nome do site não e único e será usado nas buscas caso algum usuário queira encontrar o seu profile.</p>
                <h3>Os campos Palavra Chave</h3>
                <p>Palavras Chave são as palavras que vão ser usadas nas buscas quando um usuário procurar por algo específico no site. As palavras chaves devem ser palavras que tenham ligação com o seu tipo de negócio como por exemplo: serviços como dentista, eletricista, festa infantil, bufê, ou produtos como roupa, bolo, material de construção e etc.</p>
                <h3>Buscas no site</h3>
                <p>Alem das palavras chave os usuários podem achar o seu profile de varias outras maneiras.</p>
                <p>Busca por região: É possível buscar todos os profiles que estão em uma determinada rua, bairro, cidade ou estado. Para saber todos os profiles localizados na cidade de São Paulo, digite São Paulo no campo direito das buscas, para saber todos os profiles do bairro da Lapa digite Lapa São Paulo para o bairro da Lapa em São Paulo, ou Lapa Rio de Janeiro para o bairro da Lapa no Rio de Janeiro. Para procurar por todo estado de São Paulo digite apenas SP. Para procurar por CEP digite o número do CEP também no campo direito.</p>
                <p>Busca pelos dados do profile: É possível buscar algum profile especifico através dos seus dados como telefone, email, nome da empresa, nome do site, número do site, CNPJ etc. Para isso digite algum desses dados no campo esquerdo das buscas.</p>
                <p>Busca pelas palavras chaves: Para buscar profiles através da palavra chave digite a palavra especifica no campo esquerdo das buscas.</p>
                <p>Você pode combinar os dois campos para fazer buscas mais especificas de um serviço ou produto em um determinado lugar. Exemplo: para procurar advogados em São Paulo digite advogado no campo esquerdo e São Paulo no campo direito. Não é possível combinar duas palavras chaves ou dois dados no mesmo campo. Para localizar por região é preciso seguir uma ordem como rua, bairro, cidade e estado. Assim caso queira procurar uma rua em um bairro digite primeiro a rua e em seguida o bairro, e nunca ao contrario.</p>
                <p>Em resumo o campo esquerdo tem a ver com o tipo de negócio e o campo direito tem a ver com a localização.</p>
                <h3>Latitude e Longitude</h3>
                <p>Trata-se da latitude e longitude usada no Google Mapas. Clique em usar a atual para usar a latitude e longitude do local em que você se encontra ou pesquise no Google Mapas a latitude e longitude de algum lugar diferente.</p>
                <h3>Usando o seu profile pela primeira vez</h3>
                <p>Depois de ter escolhido o seu template e preenchido os dados corretamente clique em <em>Salvar</em>. Você será redirecionado para a pagina inicial do seu profile. Clique em <em>Visualizar Profile</em> para ver o seu profile ou a sua página, perceba que a página ainda não possui muitos itens, tudo o que você esta vendo são apenas conteúdos e imagens. Volte para a página inicial do seu profile e clique em <em>Editar</em> para que você possa começar a adicionar os componentes e editar os conteúdos e imagens.</p>
            </section>

            <section id="Component">
                <h2>O que são componentes</h2>
                <p>Componentes são itens dinâmicos. Você pode adicionar, editar ou remover um componente.  Cada template possui a sua lista de componentes, as propriedades dos componentes variam de acordo com cada template, algumas propriedades podem não aparecer em um template e aparecer em outro e vice-versa.</p>
                <p>Algumas propriedades também são obrigatórias, isso quer dizer que é preciso que se escreva algum texto ou adicione alguma imagem ao componente.</p>
                <h3>Imagem nos componentes</h3>
                <p>Alguns componentes também possuem uma ou mais imagens. Para adicionar uma imagem vá até a galeria de imagens, adicione uma ou mais imagens, copie o nome da imagem escolhida e cole no campo relacionado a imagem do componente. Para trocar de imagem adicione outra imagem em galeria de imagens , copie o nome da imagem escolhida e cole no campo relacionado a imagem do componente, salve as alterações. Para deletar uma imagem vá até galeria de imagens e clique em deletar. Você não pode deletar uma imagem se esta estiver sendo usada em um ou mais componentes. Primeiro delete o componente que esta usando a imagem e em seguida delete a imagem desejada.</p>
                <h3>Adicionar, editar ou remover um componente</h3>
                <p>Para adicionar um componente clique em novo, edite os campos e em seguida clique em <em>Salvar</em>. Para editar ou deletar um componente existente pesquise o componente, edite o que desejar e em seguida clique em <em>Salvar</em> ou clique em <em>Deletar</em> para remove-lo.</p>
                <h3>Pesquisar um componente</h3>
                <p>Para pesquisar um componente digite no campo <em>Pesquisar</em> o título, o nome ou outra propriedade correspondente ao componente. Cada componente possui apenas uma propriedade para pesquisa. Alguns componentes a propriedade de pesquisa é o titulo enquanto outros podem ser o nome e etc. Digite no campo <em>Pesquisar</em> o texto que deseja pesquisar, algumas sugestões devem aparecer abaixo do campo, clique na sugestão e em seguida clique em pesquisar.</p>
                <p>Alguns componentes possuem mais um item de pesquisa que é chamado de posição. Esse item é usado quando o componente é repetido na mesma view. Se a view não possui componente repetido não use esse campo. Se você adicionar um componente com a posição 2 ele não será encontrado na posição 1. Se a view não possui componente repetido ela só usará a posição 1.</p>
                <p>Para pesquisar um componente com a posição 2 em diante, insira a posição no campo <em>Posição</em>,  digite o texto desejado e clique em pesquisar. Apenas os itens relacionados aquela posição devem aparecer.</p>
                <h3>Título, Subtítulo e Texto do Menu</h3>
                <p>Todo componente possui título, subtítulo e um texto do menu que é exibido no menu da view, mas a exibição desses itens varia de acordo com cada template. Alguns templates podem omitir um ou todos esses itens. Para alterar título e subtítulo vá até propriedades do componente, para alterar o texto do menu vá até <em>Configurações</em> e depois em <em>Itens da View</em>.</p>
                <h3>Visualizando um componente</h3>
                <p>Se quiser visualizar o seu componente na página clique em <em>Meu Profile</em>. Sempre que você adicionar, editar ou excluir um componente será preciso atualizar a página do seu profile para ver as alterações.</p>
            </section>

            <section id="Content">
                <h2>O que são conteúdos</h2>
                <p>Conteúdos são itens fixos que já estão presentes na view e possuem uma quantidade determinada de elementos. Você pode editar um conteúdo ou deixa-lo em branco (nulo), mas não pode adicionar ou remove-lo. </p>
                <p>Um texto, botão, vídeo, lista ou slider aparece automaticamente na view caso você ainda não tenha editado o item referente aquela posição. Quando você editar o item ele será exibido no lugar do item anterior.</p>
                <h3>Editando um conteúdo</h3>
                <p>Para editar um item do conteúdo primeiro  você deve selecionar uma view, digite posição do item que deseja editar no campo <em>Posição</em> e em seguida clique em <em>Pesquisar</em>. Uma mensagem deve aparecer indicando se o item é nulo ou se não há um item para aquela posição.  Também é possível em alguns conteúdos pesquisar utilizando o campo texto, mas somente para o conteúdo que você já editou antes. Edite o item conforme o desejado e em seguida clique em <em>Salvar</em>. Você pode deixar os campos em branco e salvar, neste caso o item correspondente aquela posição não devera aparecer na view.</p>
                <h3>Deletando um conteúdo</h3>
                <p>É possível deletar um conteúdo que você já editou clicando no botão Deletar, mas o item padrão voltara a ser exibido na view.</p>
                <h3>A posição de um conteúdo</h3>
                <p>Cada item do conteúdo possui uma posição, essa posição é definida primeiro da esquerda para a direita e depois de cima para baixo, assim os itens que estão a direita possui uma posição maior que os itens a esquerda, e os itens que estão abaixo possui uma posição maior que os itens que estão acima.</p>
                <h3>O conteúdo Textos</h3>
                <p>O conteúdo texto possui 3 campos, cada campo possui uma limitação de caracteres diferente. O campo texto pequeno suporta até 64 caracteres, enquanto o campo texto médio suporta até 512 caracteres, e o campo texto grande suporta até 5120 caracteres. O campo do texto é definido automaticamente pela posição do conteúdo.</p>
                <h3>O conteúdo Botões</h3>
                <p>O conteúdo botões possui 2 campos, o primeiro e o texto do botão e o segundo a URL a qual o usuário será redirecionado quando clicar no botão. A URL é o endereço de algum site ex: http://google.com.br</p>
                <p>Repare que o <u>www</u> não é obrigatório mas o <u>http://</u> é necessário.</p>
                <h3>O conteúdo Vídeos</h3>
                <p>O conteúdo vídeos permite que você adicione vídeos do YouTube na sua página. Algumas medidas devem ser feitas para que se possa atribuir o vídeo a página.</p>
                <p>Vídeos do YouTube: Escolha o vídeo de sua preferência no site do YouTube, clique em compartilhar e depois em incorporar.  Filtre o link  como no exemplo abaixo</p>
                <p>&lt;iframe width="560" height="315" src="https://www.youtube.com/embed/fcQWCYKgtfY" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;</p>
                <p>A URL deve ficar algo como  https://www.youtube.com/embed/fcQWCYKgtfY</p>
                <h3>O conteúdo Ícones</h3>
                <p>O conteúdo ícones adiciona ícones vetoriais a view. Imagens vetoriais são criadas a partir de combinações matemáticas e geométricas entre a ligação de pontos e segmentos de linhas sobre um plano bidimensional. Veja mais detalhes abaixo.</p>
            </section>

            <section id="ImageGallery">
                <h2>Galeria de Imagens</h2>
                <p>Galeria de imagens é usada para armazenar todas as imagens que você ira usar no IShoopping. Algumas categorias de imagens possui posição como por exemplo as imagens da view. Não use a galeria como um backup de suas imagens pois as imagens na galeria são redimensionadas de modo que fiquem o mais leve possível. Alem disso as imagens podem ser deletadas se você trocar de template.</p>
                <h3>Imagens da View</h3>
                <p>Imagens da view são as imagens principais da sua página, essas imagens funcionam como um conteúdo ou seja, a view já possui uma serie de imagens padrão e são substituídas quando você adiciona uma nova referente aquela posição. Para adicionar uma imagem na view primeiro selecione a view em seguida clique em <em>Adicionar Imagens</em>. Para carregar as imagens da view selecione a view que deseja e clique em <em>Carregar</em>. Caso queira trocar a posição da imagem altere o texto <em>Posição</em> e clique em <em>Salvar Posições</em>. Não deixe posições repetidas, se você alterar a posição de uma imagem altere também a outra que ocupava aquela posição.</p>
                <p>As imagens da view possuem tamanhos variados. É importante que você adicione a imagem com o tamanho correto para evitar que a pagina sofra distorções ou alterações indesejadas.</p>
                <h3>Imagens de Ícones</h3>
                <p>Imagens de ícones também funcionam como um conteúdo e possui posição. A diferença entre os ícones do conteúdo é que eles são ícones vetoriais e usam códigos para formar uma imagem, já ícones da galeria de imagens usam imagens do tipo jpeg ou png. Ícones possuem um tamanho pequeno e devem ser bem leves para que não prejudique o carregamento da página. O processo para adicionar, alterar posição ou deletar é o mesmo que em imagens da view.</p>
                <h3>Imagens de Logo</h3>
                <p>Imagens de logo se trata do logotipo da sua empresa, também possui posição. Use imagens pequenas de preferência do tipo png e com fundo transparente. Não é necessário escolher uma view.</p>
                <h3>Imagens de Slider</h3>
                <p>Imagens de slider são usadas em views que possuem slider. Essas não possuem posição e funcionam como as imagens dos componentes.</p>
                <h3>Imagem do Cartão de Visita</h3>
                <p>Essa imagem será exibida na pagina inicial do IShoopping. Você pode adicionar até 3 imagens mas apenas uma será usada. É muito importante que você use uma imagem com um tamanho de 340px por 194px para que ela não seja cortada na pagina inicial prejudicando a sua exibição.</p>
                <h3>Imagens de Componentes</h3>
                <p>Essas imagens são usadas pelos componentes que formam a view, não possuem posição. Alguns componentes usam imagens com tamanho maiores que outros, por exemplo, o componente Serviços é muito parecido com o componente Portfolio pois possui textos e imagem, mas Serviços usa uma imagem com qualidade e tamanho bem menores que as imagens de Portfolio.</p>
                <h3>Imagens deixam a página pesada</h3>
                <p>As imagens são os itens mais pesados de um site, enquanto um texto grande possui apenas alguns KB de tamanho uma imagem pequena pode ser até 1000 vezes maior possuindo alguns MB de tamanho. Quanto mais leve for as imagens mais leve ficará a página e mais rápido ela carregará. Mesmo imagens grandes como 1900px por 1080px não devem ultrapassar 160KB. Imagens de tamanho médio cerca de 600px por 600px não devem ultrapassar os 60KB. Uma página pode conter facilmente 30 ou mais imagens, se cada uma tiver em média 100KB o tamanho da página passará dos 3MB e isso pode ser um problema em conexões de internet lentas como 3G ou 4G. Uma conexão com velocidade de 512kpbs levaria cerca de 6 segundos para carregar a página completamente, já uma conexão de 256kbps levaria o dobro disso, cerca de 12 segundos. E isso pode ser um problema pois o visitante da página pode não ter paciência para esperar que a mesma se carregue.</p>
                <p>Para minimizar esse problema os navegadores usam Cache, uma espécie de memória assim as imagens são armazenadas no Cache evitando que elas sejam carregadas todas as vezes que se fizer uma requisição a mesma página. O problema do Cache é que a imagem só será armazenada depois que o cliente carregar a página pela primeira vez, então se estiver abrindo uma nova pagina todas as imagens serão carregadas pela conexão com a internet.</p>
                <p>Toda imagem deve ser tratada antes de ir para web deixando-a mais leve o possível, mas sem que essa perca a qualidade. O IShoopping possui internamente mecanismos que fazem esse serviço exceto para categoria imagens da view, isso porque  as imagens da view não possui um tamanho pré definido e o programa não pode saber para qual tamanho a imagem deve ser redimensionada.</p>
                <p>Existem muitos programas e sites online que fazem edição de imagem, com esses aplicativos você pode manualmente redimensionar, corta-las, girar, aplicar textos e molduras e etc. alem de descrever outras propriedades como tamanho, largura e altura.</p>
                <p>Para saber o tamanho da imagem no windows clique com o botão direito do mouse sobre a imagem e depois clique em<em> Propriedades</em>. Clique na aba <em>Detalhes</em> para ver todas as propriedades.</p>              
                <h3>Diferença entre Imagens Bitmap e Vetoriais</h3> 
                <p>As imagens em bitmap são compostas por combinações de pixels. Pixels nada mais são do que pontos de cor muito pequenos que em conjunto compõem uma imagem. São os pontos que vemos quando efetuamos zoom em um valor muito alto sobre uma fotografia, por exemplo.</p> 
                <p>Enquanto as imagens vetoriais são criadas a partir de combinações matemáticas e geométricas entre a ligação de pontos e segmentos de linhas sobre um plano bidimensional.</p> 
                <p>Assim, na composição dos desenhos, enquanto com imagens de bitmap novos pixels devem ser criados, em vetores basta repetir o mesmo padrão matemático. Em consequência disso, diferentemente das imagens em bitmap, vetores não perdem qualidade quando redimensionados. Fonte: <a href="http://blog.render.com.br/design/o-que-e-imagem-vetorial/" target="_blank"> http://blog.render.com.br/design/o-que-e-imagem-vetorial/</a></p> 
            </section>

            <section id="Config">
                <h2>Configurações</h2>
                <p>As configurações permite que você personalize a sua página alterando as cores, criando classes de estilo, adicionando ou removendo itens na view. Ainda é possível deixar a sua página em manutenção para que você faça as atualizações necessárias.</p>
                <h3>Aparência</h3>
                <p>Em Aparência você pode alterar as cores da view.  Digite o código das cores nos formatos HEX, RGB ou RGBA, este ultimo permite o controle da opacidade. Também é possível escolher uma cor usando o color picker, clicando no ícone em formato de gota. Use <em>Restaurar Padrões</em> caso queira voltar as cores originais da view.</p>
                <h3>Classe de Estilos</h3>
                <p>Classe de estilos permite que você crie classes distintas com configurações personalizadas. Isso quer dizer que você pode criar uma classe e usá-la em vários itens de textos ou botões. As classes de estilos são usadas somente em textos e botões ainda não sendo possível usá-las em imagens ou outros tipos de itens.</p>
                <p>Classe : Nome da classe a ser criada, use somente letras ou números, não pode haver espaços entre as palavras</p>
                <p>Tags :  Filtra as tags em que a classe deve ser aplicada. As tags são tags em html como span, h1, h2, p e etc. Não use os símbolos ''&lt;" ou " &gt;" entre as tags.</p>
                <p>Normal : As configurações da classe são aplicadas ao item assim que ele é criado.</p>
                <p>Ao passar o mouse : As configurações da classe são aplicadas quando o usuário passar o mouse sobre o item.</p>
                <p>Ao clicar sobre o objeto : As configurações da classe são aplicadas quando o usuário clicar sobre o item.</p>
                <p>Entre a tag span : As configurações da classe são aplicadas ao item assim que ele é criado, mas somente a parte do texto que estiver entre a tag span.</p>
                <h3>Criando uma Classe de Estilos</h3>
                <p>Para criar uma classe de estilos vá até <em>Configurações</em> depois em <em>Classe de Estilos</em>, digite um nome para a classe, configure os itens como desejar. Lembre-se de marcar as caixas de seleção (check box) para que as configurações tenham efeito e clique em <em>Salvar</em>.</p>
                <h3>Usando um Estilo</h3>
                <p>Depois de ter criado uma classe de estilos você pode usá-la em qualquer item de Componentes ou Conteúdos que permite essa configuração. Clique no ícone em formato de folha que fica ao lado de cada campo e em seguida selecione o estilo que deseja para este item. É possível selecionar até quatro estilos para cada item. Selecione a classe SemEstilo caso você não queira usar nenhum estilo.</p>
                <h3>Adicionando padrões de estilo para todos os itens</h3>
                <p>Para que você não tenha que ficar repetindo o processo de adicionar estilos toda vez que criar um item, você pode definir um padrão para isso. Usando um padrão todos os itens que você criar automaticamente já usaram aquele estilo, e caso queira alterar futuramente basta apenas alterar as configurações padrão.  Para definir um padrão clique no ícone com o formato de folha e depois clique em <em>Propriedades</em>, uma nova janela deverá abrir. Essa nova janela permite que você edite o título, o subtítulo do componente alem das configurações de estilo. Selecione uma ou mais classes de estilo para o item que deseja e clique em Salvar.</p>
                <p>Note que todos os itens criados anteriormente e que não possuía uma classe de estilos definida também serão afetados quando você alterar as configurações de estilo padrão.</p>
                <h3>Não crie muitas Classes de Estilo</h3>
                <p>Classes de estilo adicionam um peso a mais na sua página, isso quer dizer que a página pode demorar mais para carregar, e usar mais recursos de processamento, alem de que alguns estilos podem entrar em conflito com estilos já existentes na página.</p>
                <h3>Cartão de Visita</h3>
                <p>Cartão de visita é usado na pagina inicial do IShoopping e serve como entrada principal para que os usuários do IShoopping conheçam a sua página. Use toda a sua criatividade para fazer um cartão de visita que chame a atenção do público.</p>
                <p>Enquanto você não configurar o seu cartão de visita o seu profile não será encontrado nas buscas e não será exibido na pagina inicial.</p>
                <p>O cartão de visita é exibido na pagina inicial de forma aleatória ou através das pesquisas. O seu cartão de visita só será exibido na página inicial após ser aprovado pela equipe do IShoopping. Insira uma imagem de acordo com o seu tipo de negocio, não insira imagem que contem anúncios de vendas ou aluguel, propaganda política ou qualquer ou qualquer outra imagem que foge do esboço do site.</p>
                <h3>Views</h3>
                <p>View (visualização) é a página em si, ou seja o que você ver na tela. Um site pode possuir várias páginas, assim como um template pode possuir várias páginas, e pode conter varias views do tipo "<em>Home"</em> por exemplo. Nesta configuração <em>Views</em>, permite que você escolha outras views que pertencem ao mesmo template. Em Views também é possível alterar o texto do menu.</p>
                <h3>Itens da View</h3>
                <p>Cada view possui um menu e um ou mais itens. A maioria dos itens são formados por conteúdos e componentes, mas ha exceção como por exemplo o item Contato. Alguns itens é exibido no menu da view e na view, enquanto outros é exibido somente na view.</p>
                <p>Em <em>Itens da View</em> é possível configurar os componentes que serão exibidos na página. Caso algum componente não combine com o seu tipo de negocio, você pode desativá-lo. Use Itens da View também para alterar o texto do menu e o título de alguns componentes. Alguns componentes não exibem texto do menu, título ou subtítulo na view, isso vai variar de acordo com cada template.</p>
                <h3>Manutenção</h3>
                <p>Manutenção permite que você faça mudanças na sua página sem que elas sejam exibidas no site, assim você pode ficar livre para realizar as alterações desejadas, testar e corrigir algum erro. Quando você ativa o modo de manutenção sua pagina não é encontrada nas buscas e não será exibida na pagina inicial. Caso algum usuário tente entrar na sua página através do link, uma nova pagina de manutenção é exibida. Indique uma data de retorno para que esta seja exibida junto com a mensagem e para que a página saia do modo de manutenção automaticamente na data indicada.</p>
                <p>A data de retorno deve ter no mínimo 30 minutos a mais do que a data atual, como por exemplo, se a data e hora atual é 20/06/2017 00:00:00 então o valor mínimo para data de retorno seria 20/06/2017 00:30:00. O site faz uma verificação sobre o tempo de expiração somente a cada 30 minutos, isso quer dizer que se você por uma data de retorno para 20/06/2017 00:35:00 a sua página só sairá do modo de manutenção automaticamente às 20/06/2017 01:00:00, mas você pode remover a manutenção manualmente a qualquer momento.</p>
            </section>

            <section id="Blog">
                <h2>Blog</h2>
                <p>Um blog é formado por vários posts (postagens), suas e de outros usuários. Para criar um post vá até <em>Componentes</em> e depois em <em>Post</em>. Você pode escolher o formato do post que achar melhor. Um post pode ter imagem, vídeo ou ambos. Nem todas as views possuem o componente post, mas se você criar um ele será exibido no blog do IShoopping. Por ser muito grande o post não será exibido completamente na sua view, mas um link para redirecionamento é criado automaticamente. O blog é uma ótima ferramenta para você descrever assuntos relacionados ao seu tipo de negocio, use o blog para postar assuntos interessantes e que chamem a atenção dos seus clientes.</p>
            </section>

            <section id="Template">
                <h2>Trocando de Template</h2>
                <p>Para trocar de template vá ate <em>Dados</em> depois em <em>Planos e Pagamentos</em>, escolha um novo plano se necessário, depois selecione o novo template e em seguida escolha a view ou página inicial.</p>
                <p>É importante ressaltar que cada template possui conteúdo, componentes e imagens diferentes. A troca do template fará com que uma nova mudança seja necessária e para isso é preciso deletar vários itens do template atual. Todo o conteúdo, configurações de aparência, view, itens da view, imagens da view, ícones e logo serão apagados. Os componentes que forem semelhantes ao novo template escolhido não serão deletados assim como suas imagens, com exceção dos Componentes Equipe e Redes Sociais. Ao trocar de template a sua página também entra em modo de manutenção.</p>
                <h3>Um novo pagamento pode ser solicitado</h3>
                <p>Em caso de troca de plano, se o novo plano escolhido tiver um valor mais alto que o plano atual, ou o saldo atual do usuário não ter valor suficiente para cobrir o novo plano, um novo pagamento pode ser solicitado e a sua página pode ficar inativa até que seja realizado o pagamento. Se o novo plano escolhido tiver um valor menor que o plano atual, ou o saldo do usuário tiver um valor acima do novo plano, será dado dias a mais ao usuário para compensar esse valor. Um calculo baseado no valor do plano atual, no valor do novo plano e no saldo atual do cliente é feito para que se possa determinar o restante a ser pago ou  o número de dias que serão adicionados. Se não houver troca de plano a data de vencimento da mensalidade continuará a mesma e não será solicitado um novo pagamento até a próxima data de vencimento.</p>
            </section>

            <section id="Payment">
                <h2>Efetuando um Pagamento</h2>
                <p>Por segurança o IShoopping não trabalha diretamente com transações financeiras ao cliente. Até o momento transações financeiras são feitas pelo Uol Pague Seguro, por ser uma empresa de confiança e já à bastante tempo no mercado. Todo pagamento será efetuado diretamente no site da Uol Pague Seguro e lá você poderá escolher a forma de pagamento usando cartão de credito ou boleto bancário, sendo possível também parcelar esse valor. Quando você realiza um pagamento no site da PagSeguro a sua transação é pré aprovada, ou seja esta aguardando a aprovação da financeira responsável pelo cartão de credito ou boleto bancário, se não houver problemas e o pagamento for efetuado então a sua transação é aprovada. Assim que a transação é aprovada o PagSeguro enviará uma notificação para o site do IShoopping confirmando o pagamento. Uma notificação também é enviada caso o pagamento não seja aprovado.</p>
                <h3>Dados para o pagamento</h3>
                <p>Em <em>Dados, Planos e Pagamentos </em>alguns dados são pedidos para efetuar um pagamento, nome, telefone e CPF. Esses dados são os dados do titular do cartão de credito que vai ser usado no site da PagSeguro para realizar o pagamento e  são enviados ao site da PagSeguro quando o cliente for redirecionado. A Uol pede esses dados para facilitar a identificação do usuário. O numero do cartão de credito é somente requerido no próprio site da Uol caso o cliente opte por pagar com cartão.</p>
                <h3>Segurança</h3>
                <p>É muito importante que você saiba que o IShoopping não pede dados de cartão de credito ao cliente, seja por email ou pelo próprio site, assim como também não envia nenhum boleto de pagamento ou link para redirecionamento ao cliente através de email ou por qualquer outra forma de correspondência. Para realizar qualquer tipo de pagamento é preciso que você entre no site do IShoopping através do seu login e senha, vá até o seu profile em <em>Dados</em>, depois em <em>Planos e Pagamentos</em> e efetue o pagamento por ali clicando no botão <em>Efetuar Pagamento. </em>Desconfie e não realize qualquer outra forma de pagamento que não seja diretamente pelo site IShoopping.</p>
                <p>Em caso de atraso de pagamento, notificações ou algum alerta, o IShoopping deve enviar a você algum email contendo apenas textos e nunca algum link ou botão de redirecionamento que o leve para outra página a não ser para a própria página do site IShoopping.</p>
            </section>

            <section id="Links">
                <h2>Sites Úteis</h2>
                <p>Encontre aqui alguns sites que vão ajudar você em alguns trabalhos e facilitar a criação da sua página.</p>
                <p><a href="https://pixabay.com/pt/" target="_blank">pixabay.com </a><br /> Esse site contém milhares de imagens grátis de todas as categorias e de uso livre, sem direitos autorais. Aproveite para baixar algumas que combinam com a sua página.</p>

                <p><a href="https://www.fotojet.com/pt/apps/?entry=edit" target="_blank">fotojet.com</a><br /> Um dos melhores sites para edição de imagens, fornece várias ferramentas gratuitas ou pagas. Neste site você pode cortar, girar, alterar o tamanho, combinar várias imagens, adicionar molduras e textos, aplicar efeitos e muito mais. Caso prefira você também pode baixar programas de edição de imagens para o seu computador, existem diversos programas gratuitos para isto.</p>

                <p><a href="https://www.befunky.com/pt/criar/" target="_blank">befunky.com</a><br /> Befunky.com é outro editor de imagens como o site acima mas possui algumas ferramentas diferentes que vale a pena dar uma olhada.</p>

                <p><a href="https://www.easy-resize.com/pt/" target="_blank">easy-resize.com</a><br />Com esse site você pode diminuir o tamanho das suas imagens deixando a sua página bem mais leve e fácil de carregar. Escolha o menor tamanho possível mas sem que prejudique a qualidade da imagem.</p>

                <p><a href="http://www.color-hex.com/popular-colors.php" target="_blank">color-hex.com</a><br />A combinação de cores para um site parece uma tarefa simples mas nem tanto. Combinar as cores certas as vezes se torna uma tarefa difícil. Color-hex é um site para cores usadas em páginas html como hexadecimal, RGB, RGBA e HSL. O site fornece uma ajuda para uma melhor escolha das cores para sua página exibindo combinações de cores chamadas de paletas ou diversas cores individuais.</p>
            </section>

        </div>
    </div>
</div>

<!-- /#wrapper -->
@section scripts{
    <script src="~/Scripts/popper.min.js"></script>
}

