<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false"/>
  </configSections>
  <!--<connectionStrings>
    <add name="IShoppingIdentity" connectionString="Data Source=sql7003.site4now.net;Initial Catalog=DB_A2DCA7_isidentity;Persist Security Info=True;User ID=DB_A2DCA7_isidentity_admin;Password=Orquidea@1314Fbb" providerName="System.Data.SqlClient" />
    <add name="IShoppingProject" connectionString="Data Source=sql7003.site4now.net;Initial Catalog=DB_A2DCA7_isproject;Persist Security Info=True;User ID=DB_A2DCA7_isproject_admin;Password=Orquidea@1314Fbb" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <connectionStrings>
    <add name="IShoppingIdentity" connectionString="data source=DESKTOP-MOSG929;Integrated Security=SSPI;Initial Catalog=IShoppingIdentity" providerName="System.Data.SqlClient"/>
    <add name="IShoppingProject" connectionString="data source=DESKTOP-MOSG929;Integrated Security=SSPI;Initial Catalog=IshoppingProject" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!-- Dominio do Ishoopping-->
    <add key="IshoppingDomain" value="http://ishoopping.com.br"/>
    <!-- Email principal do Ishoopping SendGrid-->
    <add key="Smtp" value="smtp-mail.outlook.com"/>
    <add key="Port" value="587"/>
    <add key="supportEmail" value="suporte@ishoopping.com.br"/>
    <add key="mailAccount" value="raphaelnanet"/>
    <add key="mailPassword" value="Orquidea27351512"/>
    <!-- Ishoopping Variaveis de ambiente -->
    <add key="isToken" value="321345987451548"/>
    <add key="timezone" value="E. South America Standard Time"/>
    <!-- PagSeguro Email e Token -->
    <add key="IsSandBox" value="true"/>
    <add key="PagSegAdminEmail" value="ishoopping@outlook.com"/>
    <add key="PagSegAdminToken" value="CD3C233F86354618BC4764D9476FDDFC"/>
    <add key="PagSegSandboxEmail" value="ishoopping@outlook.com"/>
    <add key="PagSegSandboxToken" value="E8AF223D5DA54863A52C032F23411F86"/>
    <!-- Preços dos planos para os templates -->
    <add key="TemplateTypeBasic" value="19,90"/>
    <add key="TemplateTypeBasicPro" value="29,90"/>
    <add key="TemplateTypeProfessional" value="39,90"/>
    <add key="TemplateTypePremium" value="79,90"/>
    <!-- Nome para os sliders -->
    <add key="SliderTypeButton" value="Slider para butão"/>
    <add key="SliderTypeText" value="Slider para texto"/>
    <add key="SliderTypeVideo" value="Slider para vídeo"/>
    <add key="SliderTypeImage" value="Slider para imagem"/>
  </appSettings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <globalization uiCulture="pt-BR" culture="pt-BR" enableClientBasedCulture="true"/>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <resizer>
    <pipeline fakeExtensions=".ashx" defaultCommands="autorotate.default=true"/>
    <plugins>
      <!--<add name="MvcRoutingShim" />
       <add name="DiskCache" />
       <add name="Logging" />
       <add name="PrettyGifs" />-->
    </plugins>
  </resizer>
</configuration>