<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.50.2" targetFramework="net45" requireReinstallation="true" />
  <package id="Dapper.Contrib" version="1.50.0" targetFramework="net45" />
  <package id="DapperExtensions" version="1.5.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="MySql.Data" version="6.9.10" targetFramework="net45" />
  <package id="MySql.Data.Entity" version="6.9.10" targetFramework="net45" />
</packages>